*{
   margin : 0 ;
   padding: 0 ;
   box-sizing: border-box ;
   scroll-behavior: smooth;
   font-family:'Inter', sans-serif;
   text-decoration: none;
   list-style: none;
}

header{
    position: fixed;
    width : 100% ;
    top: 0;
    right: 0;
    z-index:1000;
    display: flex;
    align-items: center ;
    justify-content:
     space-between;
    background:#fff ;
    padding: 10px 14% ;
   box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    

}


.logo img {
    display: flex;
max-width: 50%;
width: 150 px;
height:auto;
position: center;
left: 90%;
align-content: center;
position: center
transform


}
.navlist{
 display: flex ;
align-items:center;
max-width: 100%;
width: 150 px;
height:auto;
position: center;
left: 90%;
align-content: center;
position: center


}

.navlist{
    display: flex ;
    align-items:center;

}
.navlist a{
    color:#000;
    font-size: 15px;
    font-weight: 500 ;
    text-transform: uppercase;
    padding : 0 25px ;
    transition:all .42s;

}
.navlist a:hover {
    color:rgb(142, 38, 187);

}  

.top-icon{
    display: flex;
    align-items: center ;
    font-size: 40px;
}

.top-icon a{
   color: #000000;
   font-size:40px;
   margin: 0 6px;
   transition: all  .42s;
   
}
.top-icon a :hover{
color: rgb(142, 38, 187) ;
}

#menu-icon{
    color:#000;
    font-size: 75px;
    z-index: 10001 ;
    cursor: pointer ;
    display:none ;

}


/*home-section */
section{
    padding: 60px 15%;
}
.home{
    width: 100%;
    height:100vh;
    background-color: rgb(0, 0, 0);
    display: grid ;
    grid-template-columns: repeat(2,1fr);
    align-items: center ;
    gap: 6rem;
}
.home-img{
    position:relative;
    width: 100% ;
    height:auto ;
    max-width: 100%;

}
.home-img{
    max-width: 100%;
    width:100%;
    height:auto ;
    padding-top: 25px;
    animation-name: slide;
    animation-name: 3s;
   -o-animation-iteration-count: infinite;
     animation-iteration-count: infinite;
}
@keyframes slide{
    0%{
        transform: translateY(0px);
    }
    50%
    transform: translateY(0px);

    0%{
        transform:translateY(0px);
    }
}
.black-line-section{height: 10px;
background-color: #060606;}



/* Style the section */
section {
 /* Adjust the width as needed */
    margin: 10px auto; /* Center the section on the page */
    
}

/* Style the heading elements */
h1 {
    font-size: 2.5em; /* Adjust the font size as needed */

}

h2 {
    font-size: 1.8em; /* Adjust the font size as needed */
}

h3 {
    font-size: 1.5em; /* Adjust the font size as needed */
transition: transform: translate(50%,0%);}

/* Style the image to float on the right side */
img {
     height: 500px;
    width: 500px; /* Ensure the image doesn't exceed its container */
    height: auto; /* Maintain aspect ratio */
   transform: translate(0%,0%);
}
h1:hover, h2:hover {
    text-decoration: underline;
}
.footer{
    background-color: #000000;
    padding:70px;
}

.footer-col{
    width:25%;
    padding:0 15px;
    
}
.footer-col h4{
    font-size:18px;
    color:#FFFFFF
    text-transform:capitalize;
    margin-bottom:30px;
    font-weight:500;
    position: relative;
    background colour red;

}

.footer-col h4::before{
   
    position:absolute;
    left:0;
    bottom:-10px;
    background-color:#36b0c0;
    height: 2px ;
    width: 50px ;

}
.footer-col h4::after{
    content:'';
    position:absolute;
    left:0;
    bottom:-10px;
    background-color:#36b0c0;
    height: 2px ;
    width: 80px ;
    display:block;
transition: all 0.32s ease;

}
.footer-col ul li:not(:last-child){
    margin: bottom 20px;
}
.footer-col ul li a{
    font-size:16px;
text-transform:capitalize;
color:#bbbbbb ;
text-decoration: none;
font-weight:300;
display:block;
transition: all 0.32s ease;
}
.footer-col ul li a:hover{
color:aqua;
padding:20px;/*makes the text move*/
}

.social-links a{
    display:inline-block;
    height: 8px;0px;
    width:50px;
    font-size: 2em;
    color:aqua;

}

.iframe{
    transition: transform: translate(50%,6%);
}

